:root {
  --color-primary: #ffc14a;
  --color-secondary: #13c892;
  --color-accent-pink: #ea5681;
  --color-neutral-dark: #0f3e4a;
  --color-neutral-medium: #658c96;
  --color-neutral-light: #dde9ed;
  --color-bg-light: #fcf7ec;
  --color-white: #ffffff;

  --font-family-heading: 'Poppins', sans-serif;
  --font-family-body: 'Rubik', sans-serif;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 32px;
  --radius-full: 9999px;

  --shadow-sm: rgba(0, 0, 0, 0.12) 0px 1px 14px 0px;
}
